<!DOCTYPE html>
<html>
  <head>
    <title>CdpWebRailsSessionLoginTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <ul>
        <li><%= link_to "タスク一覧", tasks_path(current_user.id) %></li>
        <li><%= link_to "タスクを登録する", new_task_path(current_user.id) %></li>
        <li><%= link_to "アカウント", user_path(current_user.id) %></li>
        <li><%= link_to "ログアウト", new_session_path(current_user.id), method: :delete %></li>
      </ul>
    <% else %>
      <ul>
        <li><%= link_to "アカウント登録", new_user_path %></li>
        <li><%= link_to "ログイン", tasks_path %></li>
      </ul>
    <% end %>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
    <%= yield %>
  </body>
</html>
